@import "tailwindcss";



@theme {
  --animate-slide: slide 5s linear infinite;
  @keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
}